/* Tela grande */
@media (min-width: 768px){
		.panel-default {
			margin-left: 10px;
			margin-right: 10px;
		}
		.alert {
			margin-left: 10px;
			margin-right: 10px;
		}

}

.navbar-brand {
	padding-top: 12px;
}



.aw-link-panel {
	float: right;
	padding: 0px;
}

.aw-titulo-panel {
	float: left;
	padding-top: 2px;
}

table,tr,th,td{padding:10px;}
body{color: #3a3b45;font-family: Arial;}
h1,h3{color: #ffffff;text-align: center;}
.borda{height:120px;padding-top:10px;background-color:#009879;}

.styled-table {
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 14px;
	font-family: Arial;
	width: 1000px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	margin-left:200px;
}

.styled-table thead tr {
	background-color: #009879;
	color: #ffffff;
	text-align: center;

}

.styled-table tbody tr {
	border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
	border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
	font-weight: bold;
	color: #009879;
}

#messageFile{
	text-align:center;
	margin-top:8px;margin-left:500px;padding:10px;background-color:#dc3545;
	color:#ffffff;border-radius:5px;height: 16px;width:400px;
}