<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >

<link rel="stylesheet" href="/css/style.css" th:href="@{css/style.css}" />


<!-- Custom fonts for this template-->
<link rel="stylesheet" href="../static/vendor/fontawesome-free/css/all.min.css"   th:href="@{vendor/fontawesome-free/css/all.min.css}"/>
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"/>

<!-- Custom styles for this template-->
<link href="css/sb-admin-2.min.css" rel="stylesheet">
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
<head>
 <title>Finanças</title>
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

     <!-- Sidebar -->
     <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

          <!-- Sidebar - Brand -->
          <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
               <div class="sidebar-brand-icon">
               </div>
               <div class="sidebar-brand-text mx-3">Finança-Web</div>
          </a>

          <!-- Divider -->
          <hr class="sidebar-divider my-0"/>

          <!-- Nav Item - Dashboard -->
          <li class="nav-item active">
          </li>

          <!-- Divider -->
          <hr class="sidebar-divider"/>

          <!-- Heading -->
          <div class="sidebar-heading">
               Interface
          </div>

          <li class="nav-item">
          </li>

          <!-- Nav Item - Pages Collapse Menu -->
          <li class="nav-item">
          </li>

          <!-- Nav Item - Utilities Collapse Menu -->
          <li class="nav-item">
          </li>

          <!-- Divider -->
          <hr class="sidebar-divider"/>

          <!-- Nav Item - Pages Collapse Menu -->
          <li class="nav-item">
          </li>

          <li class="nav-item">
          </li>

          <!-- Nav Item - Charts -->
          <li class="nav-item">
          </li>

          <!-- Nav Item - Tables -->


          <!-- Divider -->
          <hr class="sidebar-divider d-none d-md-block">

          <!-- Sidebar Toggler (Sidebar) -->
          <div class="text-center d-none d-md-inline">
               <button class="rounded-circle border-0" id="sidebarToggle"></button>
          </div>

     </ul>

     <div id="content-wrapper" class="d-flex flex-column">

          <!-- Main Content -->
          <div id="content">

               <!-- Topbar -->
               <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                         <i class="fa fa-bars"></i>
                    </button>


                    <ul class="navbar-nav ml-auto">

                         <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                         <li class="nav-item dropdown no-arrow d-sm-none">
                              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   <i class="fas fa-search fa-fw"></i>
                              </a>
                              <!-- Dropdown - Messages -->
                              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                   <form class="form-inline mr-auto w-100 navbar-search">
                                        <div class="input-group">
                                             <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                             <div class="input-group-append">
                                                  <button class="btn btn-primary" type="button">
                                                       <i class="fas fa-search fa-sm"></i>
                                                  </button>
                                             </div>
                                        </div>
                                   </form>
                              </div>
                         </li>


                    </ul>

               </nav>
               <!-- End of Topbar -->

               <!-- Begin Page Content -->
               <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                         <h1 class="h3 mb-0 text-gray-800"><i class="fa fa-code"></i>  Teste de Programação "ByCoders"</h1>
                         </div>


                    <div class="row">

                         <div class="col-lg-12 mb-4">
                              <div class="card shadow mb-4">
                                   <div class="card-header py-3">
                                   </div>
                                   <div class="card-body">
                                        <div class="table-responsive">
                                             <form th:action="@{/salvar-financa}" method="post" enctype="multipart/form-data">
                                                <input th:type="file" name="file">
                                                <input th:type="submit" th:value="Adicionar">
                                             </form>
                                           </br>

                                             <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                  <br/>
                                                  <thead>
                                                  <tr>
                                                       <th>ID</th>
                                                       <th>CPF</th>
                                                       <th>Data</th>
                                                       <th>Cartão</th>
                                                       <th>Valor</th>
                                                       <th>Hora</th>
                                                       <th>Dono da loja</th>
                                                       <th>Nome loja</th>
                                                  </tr>
                                                  </thead>
                                                  <tbody>
                                                  <tr th:each="finance : ${finances}">
                                                       <td th:text="${finance.id}"></td>
                                                       <th th:text="${finance.cpf}"></th>
                                                       <th th:text="${finance.dateFinance}"></th>
                                                       <th th:text="${finance.card}"></th>
                                                       <th th:text="${finance.value}"></th>
                                                       <th th:text="${finance.hour}"></th>
                                                       <th th:text="${finance.ownerStore }"></th>
                                                       <th th:text="${finance.nameStore}"></th>
                                                  </tr>
                                                  </tbody>
                                             </table>
                                        </div>
                                   </div>
                              </div>

                         </div>
                    </div>

               </div>
               <!-- /.container-fluid -->

          </div>
          <!-- End of Main Content -->

          <!-- Footer -->
          <footer class="sticky-footer bg-white">
               <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                         <span>Copyright &copy; Santo Manuel Russo André 2021</span>
                    </div>
               </div>
          </footer>
     </div>

</div>
<a class="scroll-to-top rounded" href="#page-top">
     <i class="fas fa-angle-up"></i>
</a>


<!-- #Modal for removing users -->
<div class="modal fade" id="removeModalCenter" tabindex="-1" role="dialog" aria-labelledby="removeModalCenterTitle" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
               <div class="modal-header">
                    <h5 class="modal-title" id="removeModalCenterTitle">Alert message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                    </button>
               </div>
               <div class="modal-body">
                    <p class="alert alert-danger">
                         Are You sure You want to delete this User?
                    </p>
               </div>
               <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="" class="btn btn-danger" id="delRef">Delete</a>
               </div>
          </div>
     </div>
</div>

<!-- Logout Modal-->
<div class="modal fade" id="myModal"  data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
          <div class="modal-content">
               <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa fa-trash"></i> Eliminar Rota</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">×</span>
                    </button>
               </div>
               <div class="modal-body"><h5>Deseja Realmente eliminar Essa Rota?</h5></div>
               <div class="modal-footer">
                    <button class="btn btn-danger" type="button" aria-hidden="true" data-dismiss="modal">Sim</button>
                    <a class="btn btn-danger" href="/visualizar-rotas">Não</a>
               </div>
          </div>
     </div>
</div>




<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

</body>
</html>